#div-1 {
    font-size: 25px;
}

.firstP{
    font-size: 80px; color: blueviolet;
}

.secondP{
    font-size: 25px;
}

a[href^="http://"] {
    color: green; text-decoration: none;
}

a[href$=".se"] {
    color: black; text-decoration: none;
}

a[href*="uber"] {
    color: mediumvioletred; text-decoration: none;
}

a[href$="html"] {
    color: yellow; text-decoration: none;
}

h1 {
    background-color: green;
}

body p {
    background-color: red;
}

div > p {
    background-color: yellow;
}

div + p {
    background-color: pink;
}

#non-bullet {
    list-style-type: none; text-transform: lowercase;
}